nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: lightblue;
}

nav a {
    color: white;
    background-color: darkcyan;
    text-decoration: none;
    padding: 10px 20px;
}
