
#topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
}

#topnav > a {
    color: white;
    background-color: darkcyan;
    text-decoration: none;
    padding: 10px 20px;
}

#main {
    display: flex;
    flex-direction: row;
}

#sidebar {
    flex: 1;
}

#content {
    flex: 3;
}

#chat_container {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

#read_messages{
    flex: 10;
    overflow: hidden;
    height: 90%;
}

#chat_input{
    flex: 1;
    height: 10%;
}
